.header {
    grid-area: header;
    background-color: green;

}
.logo{
    color: white;
    display: inline-block;
    vertical-align:middle;

}
.loginBlock{
    float: right;
    color: white;
    margin-right: 15px;
    display: inline-block;
    vertical-align:middle;
    font-style: italic;
    font-weight: bold;
}
